# COGS 108 - Data Checkpoint

# Names

- Chenyu Zhang A16526395
- Zhengxi Zhang A17220038
- Mengyuan Zhang A15598814
- Harry Lei A15890785
- Hongchang Jiang A17180573

<a id='research_question'></a>
# Research Question

Is there a relationship between the severity of COVID-19 pandemic in the United States and the stock price of internationlly major automotive companies? If there is, does severity of COVID-19 have a strong positive correlation with stock price per share of automotive companies? If yes, with the severity of COVID-19 goes up, will stock price goes down. In our question, severity of COVID-19 will take into account of daily increase of death, hospitalization, positve cases and total test cases.

# Dataset(s)

- **U.S National COVID-19 Daily Data**
   - Dataset Name: national-history.csv
   - Link to the dataset: https://covidtracking.com/data/download/national-history.csv
   - Number of observations: 420 observations
   - This dataset contain summary of daily data on the COVID-19 pandemic for the United States. It provides information on varaibles such as daily increase of death, positive cases, negative cases, hospitalization and total number of tests. The observation for this dataset is based on the date oberserved.

<br>

- **Stock Price for Internationlly Major Automotive Companies(Mutiple Dataset combined by 11 Individual Datasets)**
   - Dataset Name: audi.csv,bmw.csv,gm.csv,honda.csv, gm.csv,NIO.csv, nissan.csv, rolls royces.csv, tata.csv, toyota.csv, Volkswagen.csv
   - Link to the dataset: https://finance.yahoo.com/quote/AUDVF/history?p=AUDVF, 
                          https://finance.yahoo.com/quote/BMW.DE/history?p=BMW.DE, 
                          https://finance.yahoo.com/quote/GM/history?p=GM, 
                          https://finance.yahoo.com/quote/HMC/key-statistics?p=HMC, 
                          https://finance.yahoo.com/quote/NIO/key-statistics?p=NIO, 
                          https://finance.yahoo.com/quote/NSANY/history?p=NSANY, 
                          https://finance.yahoo.com/quote/RYCEY/history?p=RYCEY, 
                          https://finance.yahoo.com/quote/TTM/history?p=TTM, 
                          https://finance.yahoo.com/quote/TM/history?p=TM, 
                          https://finance.yahoo.com/quote/VWAGY/history?p=VWAGY
   - Number of observations: 13312 observations
   - This dataset contain summary of daily data on stock prices of all internationlly major automotive companies we have collected which is totally 11 dataset. It contains the variables like date, open price, high price, low price, close price, etc. The way we made this dataset is by adding a new column Maker to indicate the company for each observation, and each observation is based on the date oberserved in each individual dataset, then we performing a full join with the same column type all dataset shared since they are all come from the same source website yahoo finance.And because of that, we have the total ovservations sum of all other 11 datasets.

<br>

- **Stock Price for Audi**
   - Dataset Name: audi.csv
   - Link to the dataset: https://finance.yahoo.com/quote/AUDVF/history?p=AUDVF
   - Number of observations: 1258 observations
   - This dataset contain summary of daily data on stock prices of Audi. It contains variables like open price, high price, low price, close price, etc. The observation for this dataset is based on the date oberserved.

<br>

-  **Stock Price for BMW**
    - Dataset Name: bmw.csv
    - Link to the dataset: https://finance.yahoo.com/quote/BMW.DE/history?p=BMW.DE
    - Number of observations: 1267 observations
    - This dataset contain summary of daily data on stock prices of BMW. It contains variables like open price, high price, low price, close price, etc. The observation for this dataset is based on the date oberserved.

<br>

- **Stock Price for General Motos**
    - Dataset Name: gm.csv
    - Link to the dataset: https://finance.yahoo.com/quote/GM/history?p=GM
    - Number of observations: 1259 observations
    - This dataset contain summary of daily data on stock prices of General Motos. It contains variables like open price, high price, low price, close price, etc. The observation for this dataset is based on the date oberserved.

<br>

- **Stock Price for Honda**
    - Dataset Name: honda.csv
    - Link to the dataset: https://finance.yahoo.com/quote/HMC/key-statistics?p=HMC
    - Number of observations: 1259 observations
    - This dataset contain summary of daily data on stock prices of Honda. It contains variables like open price, high price, low price, close price, etc. The observation for this dataset is based on the date oberserved.

<br>

- **Stock Price for NIO**
    - Dataset Name: NIO.csv
    - Link to the dataset: https://finance.yahoo.com/quote/NIO/key-statistics?p=NIO
    - Number of observations: 743 observations
    - This dataset contain summary of daily data on stock prices of NIO. It contains variables like open price, high price, low price, close price, etc. The observation for this dataset is based on the date oberserved.

<br>

- **Stock Price for Nissan**
    - Dataset Name: nissan.csv
    - Link to the dataset: https://finance.yahoo.com/quote/NSANY/history?p=NSANY 
    - Number of observations: 1242 observations
    - This dataset contain summary of daily data on stock prices of Nissan. It contains variables like open price, high price, low price, close price, etc. The observation for this dataset is based on the date oberserved.

<br>

- **Stock Price for Rolls Royce**
    - Dataset Name: rolls royces.csv
    - Link to the dataset: https://finance.yahoo.com/quote/RYCEY/history?p=RYCEY 
    - Number of observations: 1265 observations
    - This dataset contain summary of daily data on stock prices of Rolls Royce. It contains variables like open price, high price, low price, close price, etc. The observation for this dataset is based on the date oberserved.

<br>

- **Stock Price for Tata**
    - Dataset Name: tata.csv
    - Link to the dataset: https://finance.yahoo.com/quote/TTM/history?p=TTM
    - Number of observations: 1234 observations
    - This dataset contain summary of daily data on stock prices of Tata. It contains variables like open price, high price, low price, close price, etc. The observation for this dataset is based on the date oberserved.

<br>

- **Stock Price for Toyota**
    - Dataset Name: toyota.csv
    - Link to the dataset: https://finance.yahoo.com/quote/TM/history?p=TM 
    - Number of observations: 1259 observations
    - This dataset contain summary of daily data on stock prices of Toyota. It contains variables like open price, high price, low price, close price, etc. The observation for this dataset is based on the date oberserved.

<br>

- **Stock Price for Volkswagen**
    - Dataset Name: Volkswagen.csv
    - Link to the dataset: https://finance.yahoo.com/quote/VWAGY/history?p=VWAGY 
    - Number of observations: 1267 observations
    - This dataset contain summary of daily data on stock prices of Volkswagen. It contains variables like open price, high price, low price, close price, etc. The observation for this dataset is based on the date oberserved.

<br>

**How to combine these datasets**: Since all datasets regarding the stock prices are from Yahoo finance, the structure for each dataframe is quite similar. Due to each stock dataframe shares a common variable, date, which represent the observation in our individual stock dataframe, thus we can just combine these datasets based on the date of individual observations. Then, consider making a new column called maker to mark the company which the observations come from, a simple concatenation would merge indivudla stock datasets into one large dataframe.

# Setup

In [163]:
# Importing necessage pacakges
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

# Data Cleaning
### General Steps:
1. Concatenate dataframes of each individual automotive company into one large dataframe called **car**
2. Add extra variable called 'Maker' to **car** dataframe to facilate further EDA analysis
3. Drop any duplicate observations that have the same date in both **car** and **covid** dataframe
4. Drop any columns that only has NaN values in both **car** and **covid** dataframe
5. Filter **covid** dataframe to only include observations that has non-zero Covid cases
6. Reduce **covid** dataframe to five variables: date, deathIncrease, hospitalizedIncrease, positiveIncrease and totalTestResultsIncrease
7. Filter **car** dataframe to match the time scope of **covid** dataframe
8. Rename columns of **car** dataframe to make naming conventions consistent
9. Sort **car** dataframe in decending orders to make date consistent with **covid** dataframe

### Table of Contents:
- Stock Price Data
  - Audi
  - BMW
  - General Motors
  - Honda
  - NIO
  - Nissan
  - Rolls Royces
  - Tata
  - Toyota
  - Volkswagen
- Covid-19 Data

### Stock Price Data:

#### I.
First we load & clean data from the folder called 'Car', which contains csv files for each individual automotive company from 2020 to 2021. The data itself is generally clean, but we do need to mange to merge each dataframe into a large dataframe. To achieve that, we create a new variable called 'Maker', which specifies which company the observation belongs to. After the new variable is created for each observation, we concatenate each dataframe to a new dataframe by rows, thus the new dataframe contains all observations from each individual datasets.

In [164]:
# Read Data from Car folder
data_dir = 'Car'
folder_name = ['Audi','BMW','General Motors','Honda','NIO','Nissan','Rolls Royces','Tata','Toyota','Volkswagen']

file_name = []
for name in folder_name:
    if (name == 'NIO') or (name == 'Volkswagen'):
        tmp = name
    elif name == 'General Motors':
        tmp = 'gm'
    else:
        tmp = name.lower()
    file_name.append(tmp)

df_name = []

for i,fname in enumerate(file_name):
    file_path = os.path.join(data_dir,folder_name[i])
    file_path = os.path.join(file_path,fname) + '.csv'
    if " " in fname:
        fname = fname.replace(" ","")
    globals()[fname] = pd.read_csv(file_path)
    globals()[fname]['Maker'] = fname
    df_name.append(fname)

df_list = [audi, bmw, gm, honda, NIO, nissan, rollsroyces, tata, toyota, Volkswagen]
car = pd.DataFrame()

for df in df_list:
    df = df.drop_duplicates(subset=['Date'])
    car = pd.concat([car, df], axis='rows')

car.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Maker
0,2016-08-24,701.549988,701.549988,701.549988,701.549988,699.382935,0.0,audi
1,2016-08-25,701.549988,701.549988,701.549988,701.549988,699.382935,0.0,audi
2,2016-08-26,701.549988,701.549988,701.549988,701.549988,699.382935,0.0,audi
3,2016-08-29,701.549988,701.549988,701.549988,701.549988,699.382935,0.0,audi
4,2016-08-30,698.049988,710.000000,695.700012,695.700012,693.551025,300.0,audi

#### II. 
For the data cleaning part, we first filtered out any duplicate observations, which are observations that share the same date, during the process of concatenation. In addition, we filtered out any columns that only have NaN values. Furthermore, given that the dataframe gathers data from 2020 to 2021, there are many observations that dates before the outbreak of Covid-19, thus we filtered out such observations to minimize any outliers that could interfere with our further analysis. Also, we renamed columns of the dataframe to make sure that the naming convention for variables can maintain consistent accross all datasets. Lastly, we sorted the dataframe by date in descending order to make date consistnt accross all datasets.

In [165]:
#clean car dataframe
car = car.dropna(how='all')
car = car[ car['Date'] > '2020-01-16' ]
car = car[ car['Date'] < '2021-03-09' ]
car = car.rename(columns={'Date':'date','Open':'open','High':'high','Low':'low','Close':'close','Adj Close':'adjClose','Volumn':'volumn','Maker':'maker'})
car = car.sort_values(by='date', ascending=False)

car

,date,open,high,low,close,adjClose,Volume,maker
1148,2021-03-08,197.979996,198.179993,191.179993,195.740005,191.183990,1863993.0,Volkswagen
1120,2021-03-08,331.750000,331.750000,318.799988,321.250000,321.250000,81925952.0,tata
624,2021-03-08,36.970001,39.480000,34.900002,35.209999,35.209999,143074800.0,NIO
1126,2021-03-08,610.000000,615.700012,591.700012,593.799988,593.799988,17810000.0,nissan
1140,2021-03-08,54.290001,56.200001,53.740002,54.980000,54.980000,24450500.0,gm
...,...,...,...,...,...,...,...,...
850,2020-01-17,627.000000,635.000000,626.599976,634.799988,634.799988,9564000.0,nissan
339,2020-01-17,4.510000,4.710000,4.460000,4.670000,4.670000,109601300.0,NIO
855,2020-01-17,27.760000,27.790001,27.680000,27.780001,27.780001,320200.0,honda
860,2020-01-17,181.240005,183.399994,180.679993,181.360001,170.873093,988847.0,Volkswagen
855,2020-01-17,892.400024,892.400024,892.400024,892.400024,892.400024,0.0,audi

### Covid-19 Data

#### I.
First we load data from the csv dataset containing national daily data on the COVID-19 pandemic of the U.S. The Data does not need to be cleaned much, given that the format for each variale is consistent. But there are many variables that have missing data. And there are many variables such as the states and onVentilatorCurrently that we will not look into for our research, which need to be cleaned to facilate our further analysis.

In [166]:
#Read covid data from online sources
covid = pd.read_csv('https://covidtracking.com/data/download/national-history.csv')
covid

,date,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,positive,positiveIncrease,states,totalTestResults,totalTestResultsIncrease
0,2021-03-07,515151.0,842,45475.0,8134.0,726,40199.0,776361.0,74582825.0,131835,4281.0,2802.0,28756489.0,41835,56,363825123,1170059
1,2021-03-06,514309.0,1680,45453.0,8409.0,503,41401.0,775635.0,74450990.0,143835,4280.0,2811.0,28714654.0,60015,56,362655064,1430992
2,2021-03-05,512629.0,2221,45373.0,8634.0,2781,42541.0,775132.0,74307155.0,271917,4275.0,2889.0,28654639.0,68787,56,361224072,1744417
3,2021-03-04,510408.0,1743,45293.0,8970.0,1530,44172.0,772351.0,74035238.0,177957,4267.0,2973.0,28585852.0,65487,56,359479655,1590984
4,2021-03-03,508665.0,2449,45214.0,9359.0,2172,45462.0,770821.0,73857281.0,267001,4260.0,3094.0,28520365.0,66836,56,357888671,1406795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,2020-01-17,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,0.0,0,1,0,0
416,2020-01-16,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,0.0,0,1,0,0
417,2020-01-15,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,0.0,0,1,0,0
418,2020-01-14,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,0.0,0,1,0,0
419,2020-01-13,NaN,0,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,0,1,0,0

#### II.
For the data cleaning part, we first filtered out any duplicate observations, which are observations that share the same date. In addition, we filtered out any columns that only have NaN values. Furthermore, we filtered out some observations that dates before the outbreak of Covid-19 to minimize outliers. Lastly, since we are focusing on daily increase of death, hospitalization, positve and test results, we filtered out any other variables that are extranuous to our analysis

In [167]:
#clean covid dataframe
covid = covid.drop_duplicates(subset=['date'])
covid = covid.dropna(how='all')
covid = covid[covid['positiveIncrease'] != 0.0]
covid = covid[['date', 'deathIncrease', 'hospitalizedIncrease', 'positiveIncrease', 'totalTestResultsIncrease']]
covid

,date,deathIncrease,hospitalizedIncrease,positiveIncrease,totalTestResultsIncrease
0,2021-03-07,842,726,41835,1170059
1,2021-03-06,1680,503,60015,1430992
2,2021-03-05,2221,2781,68787,1744417
3,2021-03-04,1743,1530,65487,1590984
4,2021-03-03,2449,2172,66836,1406795
...,...,...,...,...,...
388,2020-02-13,0,0,1,1
395,2020-02-06,0,0,2,1
398,2020-02-03,0,0,1,3
411,2020-01-21,0,0,1,0
413,2020-01-19,0,0,1,0